html {
    font-family: "Poppins", sans-serif;
}

body {
    max-width: 1920;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}


/* HEADER */

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: gray;
}

.navmain {
    display: flex;
    gap: 20px;
}

.navmain > li :hover {
    color: black;
    text-decoration: underline;
}

.navmain > li :nth-child(7) {
    text-decoration: none;
}

.cta {
    padding: 10px 15px;
}

.cta-fs, .cta-b, .cta-c {
    background-color: #0061FF;
    color: white;
}

.cta:hover {
    font-size: 90%;
}

/* LAYOUT 1 */
.layout-1 {
    background-color: #B4D0E7;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.hero {
    padding-top: 80px;
    margin: auto 350px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col-full {
    width: 100%;
}

.block-fs {
    padding-bottom: 30px;
    font-size:50px;
}

.col-l {
    width: 400px;    
}

.col-r img{
    width: 100%;
}

.text{
    font-size: 25px;
    padding: 60px 0 60px 0;
}

.btn-lay-1, .cta-ann {
    padding-bottom: 45px;
    font-size: 20px;
}

.cta-ann {
    text-decoration: underline;
}

.cta-ann:hover {
    color: rgb(104, 104, 3);
}

.arrow {
    font-size: 30px;
    margin-bottom: 0;
}

.arrow:hover {
    font-size: 300%
}

/* LAYOUT 2 */

.boxing {
    margin: auto 450px;
}

.section--2 {
    gap: 60px;
    margin-left: auto 0;
}

.title-layout-full {
    font-size: 50px;
    padding-bottom: 60px;
}

.bill-radio {
    font-size: 20px;
    padding-right: 20px;
}

.col-3, .block-sc {
    border: 1px solid rgb(190, 190, 190);
}

.col-3 {
    width: 30%;
    text-align: center;
    min-height: 950px;
    line-height: 2em;
}

.head-col {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 5px;
    text-align: center;
}

.main--2{
    padding-bottom: 20px;
}

.sc-chance {
    padding-top: 20px;
}

.check {
    color: #0061FF;
}

.buynow {
    color: blue;
}

.buynow:hover {
    text-decoration: underline;
}

hr {
    width: 40%;
    margin: 30px 0;
}

.block-sc {
    height: 250px;
    line-height: 2em;
    position: relative;
}

.main-col-full {
    padding: 30px
}

.title-figure-4 {
    font-size: 30px;
    padding-bottom: 15px;
}

.mini-title-figure-4 {
    padding-bottom: 30px
}

.cta-c {
    position: absolute;
    right: 30px;
    top: 70px;
}

/* LAYOUT 3 */

.top-iced {
    margin-top: 150px;
}

.img-part {
    max-height: 500px;
}

.block-td {
    flex-direction: row-reverse;
}

.section--3 {
    gap: 130px;
}

.text--3 {
    padding: 40px 0;
    font: 25px;
}

.cta-d {
    border: 2px solid black;
}

.cta-d:hover {
    background-color: #B4D0E7;
}

/* LAYOUT 4 */

.hero--6 {
    justify-content: space-between;
}

.section--4 {
    gap: 50px;
}

.col-6 {
    width: calc(100% / 4);
    padding: 15px;
    margin: 0;
}

.capture img {
        width: 100%;
}


/*  LAYOUT 5 */

.cta-ad {
    color: blue;
}

/* LAYOUT 6 */

.col-block {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.block-img {
    max-width: 300px;
    padding: 50px;
}
 .center-block {
    padding: 100px;
    background-color: rgb(236, 236, 236)
 }

 .text-box {
    padding: 30px 0;
 }

 /* LAYOUT 7 */

 .col-50 {
    width: 45%;
 }
